.bgimage {
    height:95vh;
    background-size:cover;
    background: url('portfolio/bg.jpg');
    position:relative;
}
.sunil_title {
    font-size: 5rem;
}
.sunil_desc {
    font-size: 2rem;
}


.sunil-text {
    text-align: center;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    text-shadow: 0 0 20px #fff;
    
}
.servicesText:hover {
    border: 1px solid black;
}
.contact{
    width: 85%;
    background: whitesmoke;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.myclass{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}
.hello:hover{
    background: #5029bc;
    color: white;
    border: white;
    
}
.social-icons {
    font-size: 30px;
    cursor: pointer;
}
.fa-facebook:hover{
    color: #32569D;

}
.fa-instagram:hover{
    color: #A4369C;

}
.fa-twitter:hover{
    color: #1c93ef;
}
.fa-linkedin:hover{
    color: #0B5FBB;

}
 .fa-whatsapp:hover {
    color: #34DB52;
}
.fab {
    color: #000000;
}
#footer {
    background-color: #b0e7fe;
    text-align: center;
}
.car{
    width: 400px;
    height: 60px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 10px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    text-align: center;
    text-align-last: center;
    background-color: #babbbc;
}